.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 1s alternate;
    height: 40vmin;
}
.Logo-Case {
    animation: App-logo-bounce infinite 0.5s alternate;
}
.App-header {
    background-color: #059c75;
    min-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes App-logo-bounce {
    from { transform: translate3d(0, 0, 0);     }
    to   { transform: translate3d(0, 20px, 0); }
}